{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Add
{% endblock %}

{% block content %}

<center>

<h1>Add to database</h1>

<br><br><br>

<div class="row">
    <div class="span6">
        <div class="link_big">
            <p class="p_link_big"><a href="/sitemngr/addsite/?scanid={{ scanid }}">Add site</a></p>
        </div>
    </div>
    <div class="span6">
        <div class="link_big">
            <p class="p_link_big"><a href="/sitemngr/addwormhole/?scanid={{ scanid }}">Add wormhole</a></p>
        </div>
    </div>
</div>

</center>

{% endblock %}