{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Add Site
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
		var sid = $('#t_scanid').val();
		if (sid.length != 3) {
			$('#submit_button').attr('disabled', 'disabled');
			$('#l_scanid').css('color', 'red');
		}
        $('#t_scanid').keyup(function() {
            var sid = $('#t_scanid').val();
            if (sid.length == 3)
            {
                $('#submit_button').removeAttr("disabled");
                $('#l_scanid').css('color', 'black');
            }
            else
            {
                $('#submit_button').attr('disabled', 'disabled');
                $('#l_scanid').css('color', 'red');
            }
        });
    });
</script>
{% endblock %}

{% block extraHead %}
<style>
    #t_scanid {
        text-transform: uppercase;
    }
</style>
{% endblock %}

{% block content %}

<center>

<h1>Add site</h1>

<br>
{% if message %}
    <div class="alert" id="alert_notices">
        <button type="button" class="close" onclick="$('#alert_notices').fadeOut(250);">&times;</button>
        {{ message }}
    </div>
{% endif %}

<form action="" method="POST">
{% csrf_token %}
	{% include 'sitemngr/siteform.html' %}
</form>
<div class="alert alert-error" id="validation" style="display: none;"></div>


<button class="btn" onclick="$('#directions').toggle(250);">Toggle Directions</button>
<div id="directions" class="directions">
    <ul style="text-align: left;">
        <li>The <b>Creator</b> field is auto-filled with the user's name.</li>
        <li>The <b>Scan ID</b> field is the 3-digit id from your Discovery Scanner.</li>
        <li>The <b>Type of site</b> field is the Anomaly's/Signature's type - Combat, Gas, Data, Relic.</li>
        <li>The <b>Location of site</b> field needs no explanation.</li>
        <li>If the site is open, mark the <b>first checkbox</b>.</li>
        <li>Later, to denote this site as "done", tick the <b>second checkbox</b>.</li>
        <li>The <b>Notes</b> textarea is where the app will record scanid changes. You can also write anything you like.</li>
    </ul>
</div>
    
</center>

{% endblock %}