{% load staticfiles %}<!DOCTYPE html>
<html lang="en">

<!--
    Hi.
-->

<head>
    <meta charset="utf-8">
    <title>{% block subtitle %}{% endblock %} | SiteMngr{% block titleAdd %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Eve Online Site Management Django App">
    <meta name="author" content="Celeo">

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static "sitemngr/main.css" %}">
    {% block extraCSS %}{% endblock %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43167404-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
	<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#footer_tt1').tooltip();
			$('#footer_tt2').tooltip();
			$('#footer_tt3').tooltip();
			$('#footer_tt4').tooltip();
			$('#footer_tt5').tooltip();
		});
	</script>
    {% block javascript %}{% endblock %}
    {% block extraHead %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar">1</span>
            <span class="icon-bar">2</span>
            <span class="icon-bar">3</span>
            </button>
            <a class="brand" href="/sitemngr/help/" style="border-left: 1px solid silver; border-right: 1px solid silver;">SiteMngr - Eve Tracking App</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li {% if homepage %}class="active"{% endif %}><a href="/sitemngr/">Home</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navigation <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav-header">Basic Functions</li>
                        <li><a href="/sitemngr/">Index</a></li>
                        <li><a href="/sitemngr/addsite/">Add site</a></li>
                        <li><a href="/sitemngr/addwormhole/">Add wormhole</a></li>
                        <li><a href="/sitemngr/paste">Paste scan data</a></li>
                        <li><a href="/sitemngr/output">Output current data</a></li>
                        <li><a href="/sitemngr/system">Browse by system</a></li>
                        <li><a href="/sitemngr/massclose">Quickly close multiple wormholes</a></li>
                        {% if eveigb.is_igb and eveigb.trusted %}
                            <li><a href="/sitemngr/system/{{ eveigb.solarsystemname }}">My current system</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        <li class="nav-header">Extra Features</li>
                        <li><a href="/sitemngr/checkkills">Check kills in connected systems</a></li>
                        <li><a href="/sitemngr/recentscanedits">Recent scanid changes</a></li>
                        <li><a href="/sitemngr/mastertable">Master list</a></li>
                        <li><a href="/sitemngr/stats">Stats</a></li>
                        <li><a href="/sitemngr/igbtest">IGB trest</a></li>
                        <li><a href="/sitemngr/help">Help/Guide</a></li>
                        <li><a href="/sitemngr/changelog">Changelog</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">External Links</li>
                        <li><a href="http://auth.talkinlocal.org/">Back to TIL</a></li>
                        <li><a href="http://www.ellatha.com/eve/wormholelist.asp">Wormhole Types</a></li>
                        <li><a href="http://wormhol.es/">Wormhol.es</a></li>
                    </ul>
					<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav-header">Account Control</li>
                        <li><a href="/sitemngr/login/">Login / Create account</a></li>
                        {% if not eveigb.is_igb %}
                            <li><a href="/sitemngr/logout/">Logout</a></li>
                        {% endif %}
                        <li><a href="/sitemngr/settings/">User Settings</a></li>
                    </ul>
                </ul>
                <ul class="nav pull-right">
                    {% if eveigb.is_igb and not eveigb.trusted %}
                        <li><a onclick="CCPEVE.requestTrust('http://tracker.talkinlocal.org/sitemngr/*');">Click to trust</a></li>
                    {% else %}
                        <li><a>Welcome, {{ displayname }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="shadowall">
<div class="container">

{% block content %}{% endblock %}

<hr>

<footer>
    <p>&copy; <a href="https://github.com/Celeo">Celeo</a> 2013</p>
    <p>
        This website uses <a href="https://www.djangoproject.com/" id="footer_tt1" data-toggle="tooltip" title="Python web development framework">Django</a>, 
		<a href="http://twitter.github.io/bootstrap/" id="footer_tt2" data-toggle="tooltip" title="CSS framework">Bootstrap</a>,  
        <a href="https://github.com/ayust/evelink" id="footer_tt3" data-toggle="tooltip" title="Python wrapper for access to the official EVE API">evelink</a>, 
		<a href="https://github.com/gtaylor/django-eve-db" id="footer_tt4" data-toggle="tooltip" title="Python Django implementation of the static SQL dump provided by CCP">django-eve-db</a>, and 
        <a href="https://github.com/jenslauterbach/django-eve-igb" id="footer_tt5" data-toggle="tooltip" title="Provides flexible access to the HTML headers send to the site by the in-game browser">django-eve-igb</a>.
    </p>
    {% block extraFooter %}{% endblock %}
</footer>

</div>
</div>
{% block loadLaterJavascript %}{% endblock %}

</body>

</html>