{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Changelog
{% endblock %}

{% block content %}

<h1>Changelog</h1>

<br><br>

<h4>December 29, 2013</h4>
<ul>
    <li>The add/edit site pages now correctly store the selected site type in the database</li>
    <li>Reworked many of the links to redirects - browser URLs will now be more fluid</li>
</ul>

<h4>December 24, 2013</h4>
<ul>
    <li>Site type input changed to dropdown menu like wormhole status</li>
</ul>

<h4>December 23, 2013</h4>
<ul>
    <li>When a new graph is generated, a wormhole with status Fresh or Undecayed will be set to Unknown</li>
</ul>

<h4>December 22, 2013</h4>
<ul>
    <li>Design improvements</li>
	<li>Tooltips added to index page elements and footer links</li>
</ul>

<h4>December 21, 2013</h4>
<ul>
    <li>Design improvements</li>
</ul>

<h4>December 20, 2013</h4>
<ul>
    <li>Design improvements</li>
</ul>

<h4>December 19, 2013</h4>
<ul>
    <li>Design improvements</li>
</ul>

<h4>December 18, 2013</h4>
<ul>
    <li>Scanner paste form copy added to index page</li>
</ul>

<h4>December 16, 2013</h4>
<ul>
    <li>More information added to graph</li>
</ul>

<h4>December 14, 2013</h4>
<ul>
    <li>Mass close wormhole page added, see top navigation menu</li>
</ul>

<h4>December 10, 2013</h4>
<ul>
    <li>Quick links added to system page to add sites and wormholes starting/ending in that system</li>
    <li>All tables went on a diet</li>
</ul>

<h4>December 9, 2013</h4>
<ul>
    <li>Search feature added - see main page for instructions</li>
</ul>

<h4>December 7, 2013</h4>
<ul>
    <li>New styles added to the wormhole chain graph</li>
</ul>

<h4>December 4, 2013</h4>
<ul>
    <li>Graphing no longer on a timer - if the graph is outdated when someone visits the index page, it will be updated and presented before the page loads.</li>
</ul>

<h4>November 29, 2013</h4>
<ul>
    <li>Time information added to index page.</li>
    <li>Model added for when a player uses the paste feature.</li>
</ul>

<h4>November 28, 2013</h4>
<ul>
    <li>Fixed bug with usernames not being properly stored into database</li>
</ul>

<h4>November 19, 2013</h4>
<ul>
    <li>System overview page shows more information</li>
    <li>Overview div shows more information</li>
    <li>My current system link added to menu</li>
</ul>

<h4>November 16, 2013</h4>
<ul>
    <li>Overview div added to index page</li>
    <li>Speed improvements</li>
</ul>

<h4>November 15, 2013</h4>
<ul>
    <li>Grapher will no longer graph unopened wormholes</li>
    <li>Jumps to the 5 major tradehub calculated on a k-space system's page</li>
    <li>Typing in scanids for Sites and Wormholes transforms the letters into uppercase</li>
</ul>

<h4>November 8, 2013</h4>
<ul>
    <li>Paste page backend code re-work finished</li>
</ul>

<h4>November 7, 2013</h4>
<ul>
    <li>Paste page backend code rewritten</li>
</ul>

<h4>November 6, 2013</h4>
<ul>
    <li>Background image added</li>
</ul>

<h4>October 28, 2013</h4>
<ul>
	<li>Graphing color coordination added</li>
</ul>

<h4>October 26, 2013</h4>
<ul>
	<li>Graphing code added to make a visual of the chain</li>
</ul>

<h4>October 12, 2013</h4>
<ul>
	<li>Reordered model __unicode__ return strings to improve functionality of paste page</li>
</ul>

<h4>August 16, 2013</h4>
<ul>
    <li>Downtime paste page now shows more info about the scanids being changed</li>
</ul>

<h4>August 15, 2013</h4>
<ul>
    <li>Players can now request access for their out-of-alliance characters</li>
</ul>

<h4>August 13, 2013</h4>
<ul>
    <li>New 'no access' page for restricted viewing</li>
    <li>Checkboxes are now disabled on viewing pages</li>
    <li>Wormhol.es link on system page</li>
    <li>Highlights the user's current system on the system overview and checkkills pages, if present</li>
    <li>New settings page for users to customize their access</li>
</ul>

<h4>August 7, 2013</h4>
<ul>
    <li>New stats page</li>
</ul>

<h4>August 6, 2013</h4>
<ul>
    <li>Unopened sites section added to system overview page</li>
    <li>IGNORE option for downtime scanning</li>
    <li>CLOSE and IGNORE changed to -CLOSE- and -IGNORE- (respectively) to stand out better</li>
    <li>ScanIDs in closedwormholes on system overview are now links to their respective edit pages</li>
	<li>Editing a sig's scanid appends that change to its notes section</li>
    <li>New page for viewing recent scanid changes</li>
</ul>

<h4>August 1, 2013</h4>
<ul>
    <li>CLOSE option added to downtime paste page to allow quickly marking a site as despawned from overnight</li>
</ul>

<h4>July 31, 2013</h4>
<ul>
    <li>Bootstrap responsive JS disabled</li>
    <li>'Present' category on paste page works properly now</li>
    <li>Open sites added to system overview page</li>
    <li>Downtime support</li>
</ul>

<h4>July 30, 2013</h4>
<ul>
    <li>Wormhole type field hidden due to not being used in the alliance</li>
    <li>On the system page looking at a w-space system, the wormhole's class is listed</li>
    <li>New kill check page that checks all connected systems for kills in the last hour</li>
</ul>

<h4>July 29, 2013</h4>
<ul>
    <li>Changelog page</li>
    <li>Nav menu has been moved to the top bar in the form of a dropdown menu</li>
    <li>Edit links now open into new tabs in the browser</li>
    <li>True/False testboxes are now checkboxes</li>
</ul>

<hr>

<h3>Thanks</h3>
<p>
	Thanks especially to Elroy, for a lot of really great ideas, and being patient when I threw screenshots of my progress at him every 15 minutes, and Tsal, for suggestions, support, and encouragement.
</p>

{% endblock %}