{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Check Kills
{% endblock %}

{% block content %}

<center>

<h1>Kill Check</h1>

<br>

<h4>For every system with an open wormhole,
<br>the following systems are hot in the last hour:</h4>

<p><b>Note</b> that this page takes a long time to load. Sorry.</p>

{% if reports %}
    <table class="table-striped">
        <tr>
            <th>
                SystemName
            </th>
            <th>
                SystemID
            </th>
            <th>
                NPC
            </th>
            <th>
                Ship
            </th>
            <th>
                Pod
            </th>
        </tr>
        {% for r in reports %}
        <tr>
            <td>
                {% if r.system == eveigb.solarsystemname %}<strong>Current system: {{ r.system }}</strong>{% else %}{{ r.system }}{% endif %}
            </td>
            <td>
                {{ r.systemid }}
            </td>
            <td>
                {{ r.npc }}
            </td>
            <td>
                {{ r.ship }}
            </td>
            <td>
                {{ r.pod }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    None, looks quiet from here.
{% endif %}

</center>

{% endblock %}