{% extends 'sitemngr/base.html' %}
{% load staticfiles %}

{% block subtitle %}
Help
{% endblock %}

{% block extraHead %}
<style>
h3 {
    background-color: lightblue;
    width: 65%;
}
</style>
{% endblock %}

{% block content %}

<center>

<!-- Old instructions
<h1>Instructions</h1><br>

<h3>How to acess this site</h3>
The requirements for seeing anything on this site are as follow:
<br>
You must
<div style="background-color: #E6E6E6; margin-top: 10px; margin-bottom: 10px; padding-top: 20px; padding-bottom: 20px; text-align: center; width: 40%; margin-left: auto; margin-right: auto;">
    <ul style="list-style-type: none;">
        <li><strong>1.</strong> be viewing the site in the Eve in-game browser (IGB),</li>
        <li><strong>2.</strong> have the site on your <a href="http://wiki.eveonline.com/en/wiki/IGB_Headers">Trusted Sites list</a>, and</li>
        <li><strong>3.</strong> be playing on a character in the OI alliance</li>
    </ul>
</div>

You will then be able to access data properly.
<br><br>
To test that everything is working correctly, go to <a href="/sitemngr/igbtest">the igb test page</a>. If you see nothing besides the nav<br>
menu and the header, you're missing a step. If you see a readout of your character's information, you're golden.
<br>
Also, look at the right side of the upper nav bar. If you see "Welcome, [your character's name]," you're golden. If it says "Please be<br>
in-game and have the site Trusted," then you're doing something wrong.

<hr><h3>What are you using the igb data for?</h3>
I check your character's name, alliance, and location for storage, verification, and storage, respectively.<br>
All that other data I could get I don't care about.

<hr><h3>Viewing current data overview</h3>
To see an overview of data currently in the system, visit the <a href="/sitemngr/">index page</a>.
<br><br>
To see if any of the systems in the chain are hot, see the <a href="/sitemngr/checkkills">check kills page</a>. Note that it can take a long time to load.
<br><br>
To see a system's status, view it's page at <span style="text-decoration: underline; color: blue;">/sitemngr/system/[SYSTEM_NAME]</span>.<br>
You can view a universe overview at <a href="/sitemngr/system">/sitemngr/system/</a> to see which system have open sites.
<br><br>
To get information for just Nexus, click on the <a href="/sitemngr/output">Output current data</a> link on the left.

<hr><h3>Update the database by pasting</h3>
The <a href="/sitemngr/paste/">paste page</a> is for quick and easy data entry into the system by means of copy-pasting<br>
your system scanner's full data into a box and clicking a button.
<br><br>
The site then sees your paste, and breaks each site down and sorts into three (3) categories:
<br><br>
<strong>1. Exist</strong> - These ids are in the database for that system and in your paste. All's good.<br>
<strong>2. Not found</strong> - These ids are in the database for that system, but not<br>in your paste. They may have despawned, so please update accordingly.<br>
<strong>3. New</strong> - These ids are not in the database but are in your scan, so they're probably new.<br>The site will pick out the most information it can find, 
and auto-fill the most fields for you.<br>

<hr><h3>Edit a site individually</h3>
To edit a site, you can either click on its scanid in any system readout or the <a href="/sitemngr/">index page</a>, or go to 
<span style="text-decoration: underline; color: blue;">/sitemngr/editsite/[SCAN_ID]</span> or <span style="text-decoration: underline; color: blue;">/sitemngr/editwormhole/[SCAN_ID]</span> 
(found on the nav menu to the left).

<hr><h3>Adding a site/wormhole manually</h3>
Click the link on the left nav menu. Enter information appropriately, and click the submit button. The site<br>
should read your character's name and location, and auto-fill those fields.

<hr><h3>Graphing</h3>
A fresh graphic layout of the connections from Nexus are generated every 5 minutes. You can see the map on the <a href="/sitemngr/">homepage</a>.<br><br>
The circle colors are as such:<br>
HS = gold<br>
LS = purple<br>
NS = brown<br>
C1 = blue<br>
C2 = green<br>
C3 = yellow<br>
C4 = orange<br>
C5 = red<br>
C6 = black<br>
not found = black<br><br>
It is important, then, to really be sure that you're typing system names as they are in-game.

<hr><h3>Submiting bugs and feature requests</h3>
Visit the <a href="http://tracker.talkinlocal.org/knowledge/">support center</a>. Everything <i>should</i> work, but in case it doesn't, don't primary me.

<hr><h2 style="color: red;">TL;DR</h2>
Use the <a href="/sitemngr/paste">paste page</a> to have the site tell you what needs to be done. Do those things.
-->

<h2>How to Use This Site</h2>

<h3 id="gainingaccess"><a href="#gainingaccess">Gaining Access</a></h3>
<p style="text-align: left; font-size: 125%;">
    <img src="{% static 'pictures/tutorial/1.png' %}"><br><br>
    When you first visit the site, it will be disabled. You must add it to the Eve browser's trusted list. To do so quickly, click 
    the link in the top left corner.
    <br><br><img src="{% static 'pictures/tutorial/2.png' %}"><br><br>
</p>

<h3 id="navigating"><a href="#navigating">Navigating</a></h3>
<p style="text-align: left; font-size: 125%;">
    Navigation can be done with using URLs (bookmarks are supported), but the top nav bar is easiest to move 
    around the site.
</p>
<div class="row">
    <div class="span6">
        <img src="{% static 'pictures/tutorial/4.png' %}">
    </div>
    <div class="span6">
        <img src="{% static 'pictures/tutorial/5.png' %}"><br><br>
        <p style="text-align: left; font-size: 125%;">
            The pages you will most commonly be using are<br>
            1. the index page,<br>
            2. add site/womrmhole pages,<br>
            3. edit pages, and<br>
            4. paste scan data.<br><br>
            In addition, any text that looks like a link, probably is.
        </p>
    </div>
</div>

<h3 id="indexpage"><a href="#indexpage">The Index Page</a></h3>
<p style="text-align: left; font-size: 125%;">
    <img src="{% static 'pictures/tutorial/3.png' %}"><br><br>
    It looks busy, but everything is broken down and separated into its own section of the page.<br><br>
    The additional information buttons need more explanation, so:
    <br><br><img src="{% static 'pictures/tutorial/6.png' %}">
</p>

<h3 id="addingediting"><a href="#addingediting">Adding Editing Sites and Wormholes</a></h3>
<p style="text-align: left; font-size: 125%;">
    <img src="{% static 'pictures/tutorial/7.png' %}">
</p>

<h3 id="pastepage"><a href="#pastepage">The Paste Page</a></h3>
<p style="text-align: left; font-size: 125%;">
    <img src="{% static 'pictures/tutorial/8.png' %}"><br><br>
    After clicking Parse, you will see something like this:
    <br><br><img src="{% static 'pictures/tutorial/9.png' %}">
</p>

<h2 id="thanks"><a href="#thanks">Thanks</a></h2>
<p>
    I wish to extend gratitude to everyone who uses this site, but to a few people in particular:<br>
    - Elroy and Tsal, for accepting and promoting this app, and for offering many excellent suggestions about how it should work,<br>
    - Sumeko, for giving me a huge list of extremely detailed thoughts, with explanations and suggestions, and<br>
    - Aes'lka Talosh, Judas, and Judaires for offering suggestions
</p>

</center>

{% endblock %}