{% extends 'sitemngr/base.html' %}
{% load staticfiles %}
{% load sitemngr_tags %}

{% block subtitle %}
Index
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'tablesorter/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#overlay').load("{% url 'sm_overlay' %}");
        $('.message').bind('click', function() {
           $(this).hide(250);
        });
        $('#tt1').tooltip();
        $('#tt2').tooltip();
        $('#tt3').tooltip();
        $('#tt4').tooltip();
        $('#tt5').tooltip();
        $('#sitetable').tablesorter();
        $('#wormholetable').tablesorter();
        setTimeout(function() {
            $('#alert_notices').fadeOut(5000);
            $('#alert_flag').fadeOut(5000);
        }, 30000);
        var counter = setInterval(timer, 1000);
        function timer() {
            var elements = $('td.countup');
            elements.each(function() {
                var current = $(this).text();
                if (current.indexOf(':') === -1)
                    return;
                var next = current.split(':');
                if (next[1] == 59) {
                    next[0] ++;
                    next[1] = 0;
                    next[2] = 0;
                } else if (next[2] == 59) {
                    next[1] ++;
                    next[2] = 0;
                } else {
                    next[2] ++;
                }
                $(this).text(next[0] + ':' + next[1] + ':' + next[2]);
            });
        }
        $('body').keydown(function(event) {
            if (event.target.tagName !== 'BODY')
                return;
            switch (event.keyCode)
            {
                case 84:
                    $('#b_nav_tables').click();
                    break;
                case 71:
                    $('#b_nav_graph').click();
                    break;
                case 79:
                    $('#b_nav_overview').click();
                    break;
                case 83:
                    $('#b_nav_search').click();
                    break;
                case 80:
                    $('#b_nav_paste').click();
                    break;
            }
        });
    });
    function get_tags() {
        var keyword = $('#omnibox').val();
        $('#search_results').show();
        $('#search_results').load('/get_search_results/' + keyword);
    }
    function toggleSection(which) {
       $("#" + which).toggle(200);
    }
    function edit(type, n) {
        if (type === 'wormhole') {
            var scanid = $('#wid' + n).text();
            var start = $('#wstart' + n).text();
            var end = $('#wend' + n).text();
            var status = $('#wstatus' + n).text();
            var otherscanid = $('#wotherscanid' + n).text();
            $('#wid' + n).html('<input type="text" class="uppercase" id="wid' + n + '_edit" value="' + scanid + '">');
            $('#wstart' + n).html('<input type="text" id="wstart' + n + '_edit" value="' + start + '">');
            $('#wend' + n).html('<input type="text" id="wend' + n + '_edit" value="' + end + '">');
            $('#wstatus' + n).html('<input type="text" id="wstatus' + n + '_edit" value="' + status + '">');
            $('#wotherscanid' + n).html('<input type="text" id="wotherscanid' + n + '_edit" value="' + otherscanid + '">');
            $('#wlink' + n).html('<a class="label label-important" onclick="cancel(\'wormhole\', ' + n + ')">Cancel</a> <td><a class="label label-success" onclick="save(\'wormhole\', ' + n + ')">Save</a></td>');
        }
        else if (type === 'site') {
            var scanid = $('#sid' + n).text();
            var name = $('#sname' + n).text();
            var type = $('#stype' + n).text();
            var where = $('#swhere' + n).text();
            $('#sid' + n).html('<input type="text" class="uppercase" id="sid' + n + '_edit" value="' + scanid + '">');
            $('#sname' + n).html('<input type="text" id="sname' + n + '_edit" value="' + name + '">');
            $('#stype' + n).html('<input type="text" id="stype' + n + '_edit" value="' + type + '">');
            $('#swhere' + n).html('<input type="text" id="swhere' + n + '_edit" value="' + where + '">');
            $('#slink' + n).html('<a class="label label-important" onclick="cancel(\'site\', ' + n + ')">Cancel</a> <td><a class="label label-success" onclick="save(\'site\', ' + n + ')">Save</a></td>');
        }
    }
    function cancel(type, n) {
        if (type === 'wormhole') {
            var scanid = $('#wid' + n).html().split('"')[7];
            var start = $('#wstart' + n).html().split('"')[5];
            var end = $('#wend' + n).html().split('"')[5];
            var status = $('#wstatus' + n).html().split('"')[5];
            var otherscanid = $('#wotherscanid' + n).html().split('"')[5];
            $('#wlink' + n).html('<a class="label label-info" href="/editwormhole/' + n + '">Edit</a> <a class="label label-warning" onclick="edit(\'wormhole\', ' + n + ')">In line</a>');
            $('#wid' + n).html('<a href="/viewwormhole/' + n + '">' + scanid + '</a>');
            $('#wstart' + n).html('<a href="/system/' + start +'">' + start + '</a>');
            $('#wend' + n).html('<a href="/system/' + end +'">' + end + '</a>');
            $('#wstatus' + n).html(status);
            $('#wotherscanid' + n).html(otherscanid);
        }
        else if (type === 'site') {
            var scanid = $('#sid' + n).html().split('"')[7];
            var name = $('#sname' + n).html().split('"')[5];
            var type = $('#stype' + n).html().split('"')[5];
            var where = $('#swhere' + n).html().split('"')[5];
            $('#slink' + n).html('<a class="label label-info" href="/editsite/' + n + '">Edit</a> <a class="label label-warning" onclick="edit(\'site\', ' + n + ')">In line</a>');
            $('#sid' + n).html('<a href="/viewsite/' + n + '">' + scanid + '</a>');
            $('#sname' + n).html(name);
            $('#stype' + n).html(type);
            $('#swhere' + n).html('<a href="/system/' + where + '">' + where + '</a>');
        }
    }
    function save(type, n) {
        $('#js_alerts_out').text('Saving...');
        $('#js_alerts').fadeIn(250);
        if (type === 'wormhole') {
            var id = n;
            var scanid = $('#wid' + n + '_edit').val();
            var start = $('#wstart' + n + '_edit').val();
            var end = $('#wend' + n + '_edit').val();
            var status = $('#wstatus' + n + '_edit').val();
            var otherscanid = $('#wotherscanid' + n + '_edit').val();
            $.ajax({
              type: "POST",
              url: String("inlineeditwormhole/" + n),
              data: {
                  id: id,
                  scanid: scanid,
                  start: start,
                  destination: end,
                  status: status,
                  otherscanid: otherscanid
              },
              success: function(data) {
                $('#wlink' + n).html('<a class="label label-info" href="/editwormhole/' + n + '">Edit</a> <a class="label label-warning" onclick="edit(\'wormhole\',' + n + ')">In line</a>');
                $('#wid' + n).html('<a href="/viewwormhole/' + n + '">' + scanid.toUpperCase() + '</a>');
                $('#wstart' + n).html('<a href="/system/' + start +'">' + start + '</a>');
                $('#wend' + n).html('<a href="/system/' + end +'">' + end + '</a>');
                $('#wstatus' + n).html(status);
                $('#wotherscanid' + n).html(otherscanid);
                $('#js_alerts_out').text('Saved');
                $('#js_alerts').fadeOut(3000);
              },
              fail: function(data) {
                  alert('Fail: ' + data);
                  cancel("wormhole", n);
                  return;
              },
              error: function(data) {
                  alert('Error: ' + data);
                  cancel("wormhole", n);
                  return;
              }
            });
        }
        else if (type === 'site') {
            var id = n;
            var scanid = $('#sid' + n + '_edit').val();
            var name = $('#sname' + n + '_edit').val();
            var type = $('#stype' + n + '_edit').val();
            var where = $('#swhere' + n + '_edit').val();
            $.ajax({
                type: "POST",
                url: String("inlineeditsite/" + n),
                data: {
                    id: id,
                    scanid: scanid,
                    name: name,
                    type: type,
                    where: where
                },
                success: function(data) {
                    $('#slink' + n).html('<a class="label label-info" href="/editsite/' + n + '">Edit</a> <a class="label label-warning" onclick="edit(\'site\',' + n + ')">In line</a>');
                    $('#sid' + n).html('<a href="/viewsite/' + n + '">' + scanid.toUpperCase() + '</a>');
                    $('#sname' + n).html(name);
                    $('#stype' + n).html(type);
                    $('#swhere' + n).html('<a href="/system/' + where + '">' + where + '</a>');
                    $('#js_alerts_out').text('Saved');
                    $('#js_alerts').fadeOut(3000);
                },
                fail: function(data) {
                    alert('Fail: ' + data);
                    cancel("site", n);
                    return;
                },
                error: function(data) {
                    alert('Error: ' + data);
                    cancel("site", n);
                    return;
                }
            });
        }
    }
    function checkNew(type) {
        if (type === 'wormhole') {
            if ($('#w_new_scanid').val().length== 3 && $('#w_new_start').val().length > 0 && $('#w_new_end').val().length > 0)
                $('#w_new_submit').removeAttr("disabled");
            else
                $('#w_new_submit').attr('disabled', 'disabled');
        }
        else if (type === 'site') {
            if ($('#s_new_scanid').val().length == 3 && $('#s_new_name').val().length > 0 && $('#s_new_where').val().length > 0)
                $('#s_new_submit').removeAttr("disabled");
            else
                $('#s_new_submit').attr('disabled', 'disabled');   
        }
    }
</script>
{% endblock %}

{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'tablesorter/style.css' %}">
<style>
    input[type="text"] {
        text-align: center;
        width: 75%;
    }

    #w_new_scanid, #w_new_otherscanid {
        text-transform: uppercase;
    }

    #s_new_scanid {
        text-transform: uppercase;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .link {
      fill: none;
      stroke: black;
      stroke-width: 1.75px;
    }

    .link.good {
        /* no styling needed */
    }

    .link.half {
        stroke-dasharray: 0,8 1;
    }

    .link.gone {
        stroke-dasharray: 0,2 1;
    }

    .link.unknown {
        stroke-dasharray: 0,2 1;
        stroke: gray;
    }

    .node {
        stroke: #fff;
        stroke-width: 1.5px;
    }

    text {
      font: 20px sans-serif;
      pointer-events: none;
    }
</style>
{% endblock %}

{% block content %}

<center>

{% if notices %}
    <div class="alert" id="alert_notices">
        <button type="button" class="close" onclick="$('#alert_notices').fadeOut(250);">&times;</button>
        {% for n in notices %}
            {{ n }}<br>
        {% endfor %}
    </div>
{% endif %}
{% if messages %}
    <div class="alert alert-error" id="alert_messages">
        <button type="button" class="close" onclick="$('#alert_messages').fadeOut(250);">&times;</button>
        {% for m in messages %}
            {{ m }}<br>
        {% endfor %}
    </div>
{% endif %}
{% if flag %}
    <div class="alert" id="alert_flag">
        <button type="button" class="close" onclick="$('#alert_flag').fadeOut(250);">&times;</button>
        {{ flag }}
    </div>
{% endif %}
<div class="alert" id="js_alerts" hidden>
    <button type="button" class="close" onclick="$('#js_alerts').fadeOut(250);">&times;</button>
    <p id="js_alerts_out"></p>
</div>

<h2>{{ tracker_title }}</h2>

<div class="btn-group" id="button_nav">
    <button id="b_nav_tables" class="btn active" onclick="toggleSection('tables');" data-toggle="button">Toggle tables (t)</button>
    <button id="b_nav_graph" class="btn" onclick="toggleSection('graph');" data-toggle="button">Toggle graph (g)</button>
    <button id="b_nav_overview" class="btn" onclick="toggleSection('overlay');" data-toggle="button">Show Overview (o)</button>
    <button id="b_nav_search" class="btn" onclick="toggleSection('search');" data-toggle="button">System Search (s)</button>
    <button id="b_nav_paste" class="btn" onclick="toggleSection('index_paste');" data-toggle="button">Paste (p)</button>
</div>

<div id="search" style="border: 1px solid gray; display: none;">
    <strong>System lookup</strong><br>
    <input type="text" id="omnibox" style="margin-top: 10px;" onkeyup="get_tags();" placeholder="Beginning of system name...">
    <img src="http://i.imgur.com/WWZwIWk.png" width="30" height="30" onclick="$('#omnibox').val(''); $('#omni_flags').val(''); $('#search_results').hide(); $('#search_results').html('');"><br>
    <div id="search_results" style="width: 50%; overflow: auto; display: none;"></div>
</div>
<div id="overlay" style="width: 100%; border: 1px solid black; display: none;">
    <span style="color: gray; text-align: left;">Loading ...</span>
</div>
<div id="graph" style="border: 1px solid gray; display: none;">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

$(document).ready(function() {
    var links = [
    {% for wormhole in wormholes %}
        {% if wormhole.opened %}{source: "{{ wormhole.start|graphname }}", target: "{{ wormhole.destination|graphname }}", type: "{{ wormhole.get_type_js }}", group: {{ wormhole.get_graph_group }}},{% endif %}
    {% endfor %}
    ];

    var nodes = {};

    links.forEach(function(link) {
        link.source = nodes[link.source] || (nodes[link.source] = {name: link.source});
        link.target = nodes[link.target] || (nodes[link.target] = {name: link.target});
    });

    var width = 1000,
        height = 600;

    var color = d3.scale.category20();
    
   for (var i = 0; i < 21; i ++)
       console.log(color(i));

    var force = d3.layout.force()
        .nodes(d3.values(nodes))
        .links(links)
        .size([width, height])
        .linkDistance(140)
        .charge(-500)
        .on("tick", tick)
        .start();

    var svg = d3.select("#graph").append("svg")
        .attr("width", width)
        .attr("height", height);

    svg.append("defs").selectAll("marker")
        .data(["good", "half", "gone", "unknown"])
      .enter().append("marker")
        .attr("id", function(d) { return d; })
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 15)
        .attr("refY", -1.5)
        .attr("markerWidth", 6)
        .attr("markerHeight", 6)
        .attr("orient", "auto")
      .append("path")
        .attr("d", "M0,-5L10,0L0,5");

    var path = svg.append("g").selectAll("path")
        .data(force.links())
      .enter().append("path")
        .attr("class", function(d) { return "link " + d.type; })
        .attr("marker-end", function(d) { return "url(#" + d.type + ")"; });

    var circle = svg.append("g").selectAll("circle")
        .data(force.nodes())
      .enter().append("circle")
        .attr("class", "node")
        .attr("r", 8)
        .style("fill", function(d) { return color(d.group); })
        .call(force.drag);

    var text = svg.append("g").selectAll("text")
        .data(force.nodes())
      .enter().append("text")
        .attr("x", 8)
        .attr("y", "1em")
        .text(function(d) { return d.name; });

    function tick() {
        path.attr("d", linkArc);
        circle.attr("transform", transform);
        text.attr("transform", transform);
    }

    function linkArc(d) {
      var dx = d.target.x - d.source.x,
          dy = d.target.y - d.source.y,
          dr = Math.sqrt(dx * dx + dy * dy);
      return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
    }

    function transform(d) {
      return "translate(" + d.x + "," + d.y + ")";
    }
});
</script>
</div>
<div id="index_paste" style="border: 1px solid gray; display: none;">
    <h4>This is the same thing as the paste page, without having to load that separate page before pasting.</h4>
    <form action="{% url 'sm_paste' %}" method="POST">
    {% csrf_token %}
        <table style="border: none;">
            <tr style="border: none;">
                <td>
                    <label><b>System</b>:</label>
                </td>
                <td>
                    <input type="text" name="system" value="{% if system %}{{ system }}{% elif eveigb.is_igb %}{{ eveigb.solarsystemname }}{% else %}{{ homesystem }}{% endif %}">
                </td>
            </tr>
        </table><br>
        <textarea name="pastedata" rows="20" id="ta_pastedata">{% if raw %}{{ raw }}{% endif %}</textarea><br>
        <table style="border: none;">
            <tr style="border: none;">
                <td>
                    <label><b>After downtime?</b></label>
                </td>
                <td>
                    <label class="checkbox">
                        <input type="checkbox" name="downtime" id="c_paste_downtime">
                    </label>
                </td>
            </tr>
        </table><br>
        <input type="submit" value="Parse" class="btn btn-primary" data-loading-text="Parsing..." onclick="$(this).button('loading');"> 
    </form>
</div>

<div id="tables">
    <h5><a href="{% url 'sm_system' homesystem %}" id="tt1" data-toggle="tooltip" title="Direct link to the system overview page for the homesystem in settings, {{ homesystem }}">Home System Page</a></h5>

    <p><strong>
        It is currently Eve time {% now 'H:i:s, N j' %}.<br>
        Last edit: {{ last_update_diff }} ago, by {{ last_update_user }}<br>
        Up to date: {{ last_up_to_date_diff }} ago, by {{ last_up_to_date_user }}<br>
    </strong></p>

    <h1 id="tt5" data-toggle="tooltip" title="Wormholes start in one system and lead to another - the method of transportantion for those living in wormhole-space.">{% if status and status == 'open' %}{% else %}Closed {% endif %}Wormholes</h1>
    <table id="wormholetable" class="hovertable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Opened in</th>
                <th>Leads to</th>
                <th>Entered</th>
                <th>Status</th>
                <th>Other side</th>
                <th>Ellapsed time</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for w in wormholes %}
                {% if w.opened %}
                    <tr class="open">
                {% else %}
                    <tr class="closed">
                {% endif %}
                    <td id="wid{{ w.id }}"><a href="{% url 'sm_view_wormhole' w.id %}">{{ w.scanid }}</a></td>
                    <td id="wstart{{ w.id }}"><a href="{% url 'sm_system' w.start %}">{{ w.start }}</a></td>
                    <td id="wend{{ w.id }}">{% if w.destination == 'Unknown' or w.destination == '' or w.destination == 'Unopened' or w.destination == 'Closed' %}{{ w.destination }}{% else %}<a href="{% url 'sm_system' w.destination %}">{{ w.destination }}</a>{% endif %}</td>
                    <td>{{ w.date|date:'m/d @ H:i' }}</td>
                    <td id="wstatus{{ w.id }}">{{ w.status }}</td>
                    <td id="wotherscanid{{ w.id }}">{% if w.otherscanid %}{{ w.otherscanid }}{% else %}?{% endif %}</td>
                    <td class="countup">{% for k,v in ellapsed_timers.items %}{% if k == w.id %}{{ v }}{% endif %}{% endfor %}</td>
                    <td id="wlink{{ w.id }}"><a class="label label-info" href="{% url 'sm_edit_wormhole' w.id %}" {% if newTab %}target="_blank"{% endif %}>Edit</a> <a class="label label-warning" onclick="edit('wormhole', {{ w.id }});">In line</a></td>
                </tr>
            {% endfor %}
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="data_type" value="wormhole">
                    <td><input onkeyup="checkNew('wormhole');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="w_new_scanid" name="scanid" value="" placeholder="id"></td>
                    <td><input onkeyup="checkNew('wormhole');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="w_new_start" name="start" value="" placeholder="start"></td>
                    <td><input onkeyup="checkNew('wormhole');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="w_new_end" name="destination" value="" placeholder="end"></td>
                    <td></td>
                    <td><select style="margin: 0 0 0 0; padding: 0 0 0 0; width: 100%;" id="w_new_status" name="status"><option>Undecayed</option><option>Fresh</option><option>&#60 50% mass</option><option>VoC</option><option>EoL</option><option>VoC and EoL</option><option>Unknown</option><option>Closed</option></select></td>
                    <td><input onkeyup="checkNew('wormhole');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="w_new_otherscanid" name="otherscanid" value="" placeholder="ID2"></td>
                    <td></td>
                    <td><input style="margin: 0 0 0 0; padding: 0 0 0 0;" id="w_new_submit" type="submit" class="btn btn-mini btn-primary" value="Add New" disabled></td>
                </form>
            </tr>
        </tbody>
    </table>
    <br>
    <h1 id="tt4" data-toggle="tooltip" title="A 'site' is a Cosmic Anomaly or a Cosmic Signature. Both are grouped under this name.">{% if status and status == 'open' %}{% else %}Closed {% endif %}Sites</h1>
    <table id="sitetable" class="hovertable">
        <thead>
            <tr>
                <th> ID</th>
                <th>Name
                <th>Type</th>
                <th>Location</th>
                <th>Opened</th>
                <th>Entered</th>
                <th>Edit</th>
            </tr>
        </thread>
        <tbody>
            {% for s in sites %}
                {% if s.isAnom %}
                    <tr class="anom">
                {% elif s.opened %}
                    <tr class="open">
                {% else %}
                    <tr class="closed">
                {% endif %}
                    <td id="sid{{ s.id }}"><a href="{% url 'sm_view_site' s.id %}">{{ s.scanid }}</a></td>
                    <td id="sname{{ s.id }}">{{ s.name }}</td>
                    <td id="stype{{ s.id }}">{{ s.type }}</td>
                    <td id="swhere{{ s.id }}"><a href="{% url 'sm_system' s.where %}">{{ s.where }}</a></td>
                    <td>{% if s.opened %}<span class="g">{{ s.opened }}</span>{% else %}<span class="r">{{ s.opened }}</span>{% endif %}</td>
                    <td>{{ s.date|date:'m/d @ H:i' }}</td>
                    <td id="slink{{ s.id }}"><a class="label label-info" href="{% url 'sm_edit_site' s.id %}" {% if newTab %}target="_blank"{% endif %}>Edit</a> <a class="label label-warning" onclick="edit('site', {{ s.id }});">In line</a></td>
                </tr>
            {% endfor %}
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="data_type" value="site">
                    <td><input onkeyup="checkNew('site');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="s_new_scanid" name="scanid" value="" placeholder="id"></td>
                    <td><input onkeyup="checkNew('site');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="s_new_name" name="name" value="" placeholder="name"></td>
                    <td><select style="margin: 0 0 0 0; padding: 0 0 0 0; width: 100%;" id="s_new_type" name="type"><option>Combat</option><option>Relic</option><option>Gas</option><option>Data</option><option>Ore</option></select></td>
                    <td><input onkeyup="checkNew('site');" style="margin: 0 0 0 0; padding: 0 0 0 0;" type="text" id="s_new_where" name="where" value="{{ homesystem }}" placeholder="where"></td>
                    <td></td>
                    <td></td>
                    <td><input style="margin: 0 0 0 0; padding: 0 0 0 0;" id="s_new_submit" type="submit" class="btn btn-mini btn-primary" value="Add New" disabled></td>
                </form>
            </tr>
        </tbody>
    </table>
    <br><br><br>
    <p style="font-size: 200%;">
        {% if status and status == 'open' %}
            <a href="{% url 'sm_view_all' %}" id="tt2" data-toggle="tooltip" title="View this index page in the same format, but only show closed sites and wormholes intead of the open entries">View closed</a>
        {% else %}
            <a href="{% url 'sm_index' %}">Back</a>
        {% endif %}
        <br>
    </p>
    <a href="{% url 'sm_refresh_graph' %}" id="tt3" data-toggle="tooltip" title="Use this to force the wormhole chain graph to update. This shouldn't ever be needed, but just in case someone makes edits directly on the database, use this page.">Manually refresh graph</a>
</div>
</center>

{% endblock %}
