{% extends 'sitemngr/base.html' %}

{% load staticfiles %}

{% block subtitle %}
Index
{% endblock %}

{% block javascript %}
<script type="text/javascript">
	$(document).ready(function()
	{
		$('#graph').hide();
		$('#overlay').hide();
		$('#search').hide();
		$('#omnibox_instructions').hide();
		$('#search_results').hide();
		$('#overlay').load('http://tracker.talkinlocal.org/sitemngr/overlay/');
	});
	function get_tags() {
		var keyword = $('#omnibox').val();
		var flags = $('#omni_flags').val();
		if (flags == '')
		  flags = '_'
		$('#search_results').show();
		$('#search_results').load('http://tracker.talkinlocal.org/sitemngr/get_search_results/' + keyword + '/' + flags);
	}
</script>
{% endblock %}

{% block content %}

<center>

{% if flag %}
    <div class="message">
		{{ flag }}<br>
    </div>
    <hr>
{% endif %}

{% if notices %}
    <div class="message">
        {% for n in notices %}
            {{ n }}<br>
        {% endfor %}
    </div>
{% endif %}

<br>
<button onclick="$('#graph').toggle(250);">Toggle graph</button>
<button onclick="$('#overlay').toggle(250);">Show Overview</button>
<button onclick="$('#search').toggle(250);">Search</button>

<div id="search" style="border: 1px solid gray;">
    <strong>Search box</strong><br>
    <a onclick="$('#omnibox_instructions').toggle(100);">Show instructions</a><br>
    <div id="omnibox_instructions" style="text-align: left; padding-left: 5px;">
        <strong>Search box</strong>
        <ul>
            <li>Start typing what you are looking for. If you're looking for a system, type the first part of it's name. Systems directly in the 
            chain are checked first, so you'll see them faster than some random system not in the chain. Same goes with tradehub systems.</li>
            <li>Typing <b>wormhole</b> or <b>site</b> (broken into <b>signature</b> and <b>anomaly</b>) will list all objects in the database of that type.</li>
            <li>If you're typing 1-3 letters in caps, the search will find all objects whose scan ids start with those letters.</li>
        </ul>
        <strong>Flags</strong>
        <ul>
            <li><i>o</i>: Only view open sites/wormholes</li>
            <li><i>c</i>: Only view closed sites/wormholes</li>
            <li><i>f</i>: Only view chain systems</li>
            <li><i>u</i>: View all systems</li>
            <li><i>m</i>: Only view systems</li>
            <li><i>w</i>: Only view wormholes</li>
            <li><i>s</i>: Only view sites</li>
        </ul>
        If you do not want to filter, leave the flags box blank.
    </div>
	<input type="text" id="omnibox" style="margin-top: 10px;" onkeyup="get_tags();" placeholder="Search...">
	<input type="text" id="omni_flags" style="margin-top: 10px; width: 10%;" onkeyup="get_tags();" placeholder="Flags">
	<img src="http://i.imgur.com/WWZwIWk.png" width="30" height="30" onclick="$('#omnibox').val(''); $('#omni_flags').val(''); $('#search_results').hide(); $('#search_results').html('');"><br>
	<div id="search_results" style="height: 200px; width: 50%; overflow: auto;"></div>
</div>
<div id="graph" style="border: 1px solid gray;">
	<img src="{% static 'pictures/graph.png' %}" alt="Current graph not found"></img><br>
	<p><strong>
    	System outline colors: HS = gold, LS = purple, NS = brown, C1 = blue, C2 = green,
        C3 = yellow, C4 = orange, C5 = red, C6 = black, not found = black.<br>
		Line styles: Fresh = bold, < 50% mass & < 50% time = dashed, EoL & VoC = dotted, Unknown = standard.
	</strong></p>
</div>
<div style="width: 100%; border: 1px solid black; margin-bottom: 20px;" id="overlay">
    <span style="color: gray; text-align: left;">Loading ...</span>
</div>

<h5><a href="/sitemngr/system/J132814">Home System Page</a></h5>

<h5>It is currently Eve time {{ now|date:'H:i:s, N j' }}. Last update: {{ last_update_diff }} ago, by {{ last_update_user }}</h5>

<div class="row">
    <div class="span6">
        <h1>Index of {% if status and status == 'open' %}{% else %}closed {% endif %}sites</h1>
        <table>
            <tr>
                <th>
                    Site Name
                </th>
                <th>
                    Scan id
                </th>
                <th>
                    Site Type
                </th>
                <th>
                    Location
                </th>
                <th>
                    Opened?
                </th>
                <th>
                    Date Entered
                </th>
                <th>
                    Edit
                </th>
            </tr>
            {% for s in sites %}
				{% if s.isAnom %}
				<tr class="anom">
				{% elif s.opened %}
				<tr class="open">
				{% else %}
				<tr class="closed">
				{% endif %}
					<td>
						<a href="/sitemngr/viewsite/{{ s.id }}">{{ s.name }}</a>
					</td>
					<td>
						{{ s.scanid }}
					</td>
					<td>
						{{ s.type }}
					</td>
					<td>
						<a href="/sitemngr/system/{{ s.where }}">{{ s.where }}</a>
					</td>
					<td>
						{% if s.opened %}<span class="g">{{ s.opened }}</span>{% else %}<span class="r">{{ s.opened }}</span>{% endif %}
					</td>
					<td>
						{{ s.date|date:'m/d @ H:i' }}
					</td>
					<td>
						<a href="/sitemngr/editsite/{{ s.id }}" {% if newTab %}target="_blank"{% endif %}>EDIT</a>
					</td>
				</tr>
            {% endfor %}
        </table>
    </div>
    <div class="span6">
        <h1>Index of {% if status and status == 'open' %}{% else %}closed {% endif %}wormholes</h1>
        <table>
            <tr>
                <th>
                    Scan ID
                </th>
                <th>
                    Opened in
                </th>
                <th>
                    Leads to
                </th>
                <th>
                    Time
                </th>
                <th>
                    Status
                </th>
                <th>
                    Edit
                </th>
            </tr>
            {% for w in wormholes %}
				{% if w.opened %}
				<tr class="open">
				{% else %}
				<tr class="closed">
				{% endif %}
					<td>
						<a href="/sitemngr/viewwormhole/{{ w.id }}">{{ w.scanid }}</a>
					</td>
					<td>
						<a href="/sitemngr/system/{{ w.start }}">{{ w.start }}</a>
					</td>
					<td>
						{% if w.destination == 'Unknown' or w.destination == '' or w.destination == 'Unopened' or w.destination == 'Closed' %}{{ w.destination }}{% else %}<a href="/sitemngr/system/{{ w.destination }}">{{ w.destination }}</a>{% endif %}
					</td>
					<td>
						{{ w.time }}
					</td>
					<td>
						{{ w.status }}
					</td>
					<td>
						<a href="/sitemngr/editwormhole/{{ w.id }}" {% if newTab %}target="_blank"{% endif %}>EDIT</a>
					</td>
				</tr>
            {% endfor %}
        </table>
    </div>
</div>
<br><br><br>
<p style="font-size: 200%;">
    {% if status and status == 'open' %}
        <a href="/sitemngr/viewall/">View closed</a>
    {% else %}
        <a href="/sitemngr/">Back</a>
    {% endif %}
    <br>
</p>
<a href="/sitemngr/refreshgraph/">Manually refresh graph</a>

</center>

{% endblock %}
