{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Login
{% endblock %}

{% block content %}

<center>

{% if note %}
	 <div class="alert" id="alert_notices">
        <button type="button" class="close" onclick="$('#alert_notices').fadeOut(250);">&times;</button>
		{{ note }}
    </div>
{% endif %}

<div class="row">
    <div class="span6">
        <h2>Login</h2>
        <form method="POST" action="/sitemngr/login/">
        {% csrf_token %}
            <label>Username: </label><input type="text" name="username"><br>
            <label>Password: </label><input type="password" name="password"><br>
            <input type="submit" value="Login" class="btn btn-primary" data-loading-text="Checking..." onclick="$(this).button('loading');">
        </form>
    </div>
    <div class="span6">
        <h2>Create account</h2>
        <form method="POST" action="/sitemngr/create_account/">
        {% csrf_token %}
            <label>Username: </label><input type="text" name="username" value="{{ eveigb.charname }}" readonly><br>
            <label>Password: </label><input type="password" name="password"><br>
            <input type="submit" value="Create account" class="btn btn-primary" data-loading-text="Creating..." onclick="$(this).button('loading');">
        </form>
    </div>
</div>


</center>

{% endblock %}