{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Login
{% endblock %}

{% block content %}

<center>

{% if note %}
     <div class="alert" id="alert_notices">
        <button type="button" class="close" onclick="$('#alert_notices').fadeOut(250);">&times;</button>
        {{ note }}
    </div>
{% endif %}

<h2>Login</h2>
<form method="POST" action="">
{% csrf_token %}
    <label>Username: </label><input type="text" name="username"><br>
    <label>Password: </label><input type="password" name="password"><br>
    <input type="submit" value="Login" class="btn btn-primary" data-loading-text="Logging in..." onclick="$(this).button('loading');">
</form>

</center>

{% endblock %}