{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Lookup
{% endblock %}

{% block content %}

<center>

<h1>Lookup by Scanid</h1>

<p>Nothing found.</p><br>
<p>Do you want to <a href="{% url 'sm_add_site' %}">add a site</a> or <a href="{% url 'sm_add_wormhole' %}">add a wormhole</a>?</p>
<br><hr><br>
<p><b>Note</b>: You can add the GET parameter for system to this url to lookup a site by its scanid.<br>
<b>Example</b>: <span style="text-decoration: underline; color: blue;">/sitemngr/lookup/ROB/?system=J169456</span> will search for sig with id ROB in system J169456.<br>
The app defaults to the first sig it finds with the scanid being search for, this is a way to refine your search.</p>

</center>

{% endblock %}