{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Table View
{% endblock %}

{% block content %}

<center>

<table class="table-striped">
    <tr>
        <th>Site/WH</th>
        <th>Scan id</th>
        <th>Date</th>
        <th>Type</th>
        <th>Open</th>
        <th>Closed</th>
    </tr>
    {% for s in sites %}
    <tr>
        <td>Site</td>
        <td><a href="{% url 'view_site' s.pk %}">{{ s.scanid }}</a></td>
        <td>{{ s.date|date:'H:i, M d, y' }}</td>
        <td>{{ s.name }} ({{ s.type }})</td>
        <td>{{ s.opened }}</td>
        <td>{{ s.closed }}</td>
    </tr>
    {% endfor %}
    {% for w in wormholes %}
    <tr>
        <td>WH</td>
        <td><a href="{% url 'view_wormhole' w.pk %}">{{ w.scanid }}</a></td>
        <td>{{ w.date|date:'H:i, M d, y' }}</td>
        <td>{{ w.start }} -> {{ w.destination }}</td>
        <td>{{ w.opened }}</td>
        <td>{{ w.closed }}</td>
    </tr>
    {% endfor %}
</table>

</center>

{% endblock %}