{% extends 'sitemngr/base.html' %}

{% block content %}

<center>

<h1>No Access</h1>

<h4>Sorry, but you do not have the ability to view this page. Please read over the <a href="/sitemngr/help/">help page</a> for ways to gain access.</h4>

{% if wrongAlliance %}
    <p>
        You are using the site in-game and have it Trusted, but you are not<br>
        in the alliance in the app's settings.<br>
        <a href="/sitemngr/whitelist/request/">Click here to request whitelisting</a>.
    </p>
{% endif %}

</center>

{% endblock %}