<p>
    Recent NPC kills in Nexus: <b>{% if kills_npc %}Yes: {{ kills_npc }}{% else %}No{% endif %}</b><br>
    Recent Ships kills in Nexus: <b>{% if kills_ship %}Yes: {{ kills_ship }}{% else %}No{% endif %}</b><br>
    Recent Pods kills in Nexus: <b>{% if kills_pod %}Yes: {{ kills_pod }}{% else %}No{% endif %}</b><br>
    Is the C2 open: <b>{% if c2_open %}Yes{% else %}False{% endif %}</b><br>
    Is there a HS in the database: <b>{% if hs %}Yes{% else %}False{% endif %}</b><br>
    Closest k-space exit to Jita: <i>Not yet implemented</i><!-- <b>{% if jita_closest %}{{ jita_closest }}{% else %}Null{% endif %}</b> --><br>
</p>
