{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Paste
{% endblock %}

{% block content %}

<center>

<h3>Paste data from your system scanner here:</h3><br>
<form action="" method="POST">
{% csrf_token %}
    <table style="border: none;">
        <tr style="border: none;">
            <td><label><b>System</b>:</label></td>
            <td><input type="text" name="system" value="{% if system %}{{ system }}{% elif eveigb.is_igb %}{{ eveigb.solarsystemname }}{% else %}J132814{% endif %}"></td>
        </tr>
    </table><br>
    <textarea name="pastedata" rows="20" id="ta_pastedata">{% if raw %}{{ raw }}{% endif %}</textarea><br>
    <table style="border: none;">
        <tr style="border: none;">
            <td><label><b>After downtime?</b></label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="downtime" id="c_paste_downtime">
                </label>
            </td>
        </tr>
    </table><br>
    <input type="submit" value="Parse" class="btn btn-primary" data-loading-text="Parsing..." onclick="$(this).button('loading');"> 
</form>

<hr>

<div class="row">
    <div class="span4">
        <h5>The following already exist in the database:</h5>
        {% if present %}
            <table class="table-striped">
                <tr>
                    <th>
                        Scan ID
                    </th>
                    <th>
                        Link
                    </th>
                </tr>
                {% for p in present %}
                <tr>
                    <td>{{ p.scanid }}</td>
                    <td><a href="/sitemngr/lookup/{{ p.scanid }}" {% if newTab %}target="_blank"{% endif %}>Link</a></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="span4">
        <h5>The following are not in your paste, but<br>are in the database for this system. Please review:</h5>
        {% if notfound %}
            <table class="table-striped">
                <tr>
                    <th>Scan ID</th>
                    <th>Edit</th>
                </tr>
                {% for n in notfound %}
                <tr>
                    <td>{{ n.scanid }}
                    </td>
                    <td><a href="/sitemngr/lookup/{{ n.scanid }}/?system={{ system }}" {% if newTab %}target="_blank"{% endif %}>Link</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="span4">
        <h5>The following are in your paste, but<br>are not in the database. Please add:</h5>
        {% if findnew %}
            <table class="table-striped">
                <tr>
                    <th>Scan ID</th>
                    <th>Link to add</th>
                </tr>
                {% for f in findnew %}
                <tr>
                    <td>{{ f.scanid }}</td>
                    <td>
                        {% if f.isWormhole %}
                            <a href="/sitemngr/addwormhole/?scanid={{ f.scanid }}&timenow={{ timenow }}&start={{ f.system }}" {% if newTab %}target="_blank"{% endif %}>Link</a>
                        {% else %}
                            <a href="/sitemngr/addsite/?scanid={{ f.scanid }}&timenow={{ timenow }}&type={{ f.type }}&name={{ f.name }}&system={{ f.system }}" {% if newTab %}target="_blank"{% endif %}>Link</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
</div>

</center>

{% endblock %}