{% extends 'sitemngr/base.html' %}

{% block subtitle %}
Recent Edits
{% endblock %}

{% block content %}

<center>

<h1>Recent Scanid Changes</h1>

<div class="row">
    <div class="span6">
        <h3>Site</h3>
        {% if sites %}
            <table class="table-striped">
                <tr>
                    <th>Scanid</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Notes</th>
                    <th>Changes</th>
                </tr>
            {% for s in sites %}
                <tr>
                    <td><a href="{% url 'view_site' s.id %}">{{ s.scanid }}</a></td>
                    <td>{{ s.name }}</td>
                    <td><a href="{% url 'system' s.where %}">{{ s.where }}</a></td>
                    <td>{{ s.notes }}</td>
                    <td>{{ s.id_changes }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="span6">
        <h3>Wormhole</h3>
        {% if wormholes %}
        <table class="table-striped">
                <tr>
                    <th>Scanid</th>
                    <th>Start</th>
                    <th>Destination</th>
                    <th>Notes</th>
                    <th>Changes</th>
                </tr>
            {% for w in wormholes %}
                <tr>
                    <td><a href="{% url 'view_wormhole' w.id %}">{{ w.scanid }}</a></td>
                    <td><a href="{% url 'system' w.start %}">{{ w.start }}</a></td>
                    <td><a href="{% url 'system' w.destination %}">{{ w.destination }}</a></td>
                    <td>{{ w.notes }}</td>
                    <td>{{ w.id_changes }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
</div>

</center>

{% endblock %}