{% extends 'sitemngr/base.html' %}
{% load staticfiles %}

{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'tablesorter/style.css' %}">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'tablesorter/jquery.tablesorter.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#sitestable').tablesorter();
        $('#wormholetable').tablesorter();
    });
</script>
{% endblock %}

{% block subtitle %}
Recent Edits
{% endblock %}

{% block content %}

<center>

<h1>Recent Scanid Changes</h1>

<div class="row">
    <div class="span6">
        <h3>Site</h3>
        {% if sites %}
            <table id="sitestable" class="table-striped">
                <thead>
                <tr>
                    <th>Scanid</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Notes</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tbody>
            {% for s in sites %}
                <tr>
                    <td><a href="{% url 'view_site' s.id %}">{{ s.scanid }}</a></td>
                    <td>{{ s.name }}</td>
                    <td><a href="{% url 'system' s.where %}">{{ s.where }}</a></td>
                    <td>{{ s.notes }}</td>
                    <td>{{ s.id_changes }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
    <div class="span6">
        <h3>Wormhole</h3>
        {% if wormholes %}
        <table id="wormholetable" class="table-striped">
            <thead>
                <tr>
                    <th>Scanid</th>
                    <th>Start</th>
                    <th>Destination</th>
                    <th>Notes</th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody>
            {% for w in wormholes %}
                <tr>
                    <td><a href="{% url 'view_wormhole' w.id %}">{{ w.scanid }}</a></td>
                    <td><a href="{% url 'system' w.start %}">{{ w.start }}</a></td>
                    <td><a href="{% url 'system' w.destination %}">{{ w.destination }}</a></td>
                    <td>{{ w.notes }}</td>
                    <td>{{ w.id_changes }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>None</p>
        {% endif %}
    </div>
</div>

</center>

{% endblock %}