{% extends 'sitemngr/base.html' %}

{% block subtitle %}
System Info
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function()
    {
        {% if kspace %}
            $('#jumps').load('/get_tradehub_jumps/{{ system }}/');
        {% endif %}
        $('#kills').load('/system_kills/{{ system }}/');
    });
</script>
{% endblock %}

{% block content %}

<center>
<h1>System info: {{ system }}{% if class %}, Class {{ class }}{% if wormhole_effect %} ({{ wormhole_effect }}){% endif %}{% endif %}{% if security %}, {{ security }}{% endif %}</h1>

{% if eveigb.solarsystemname == system %}
    <h3>You are currently in this system</h3>
{% endif %}

{% if is_in_chain %}
    <h3>This system is directly in the chain</h3>
{% elif closest_chain %}
    <h3>Closest chain system to this is {{ closest_chain }}, {{ closest_jumps }} jumps</h3>
{% else %}
    <h3>There is no direct access to this system with the current wormhole chain.</h3>
{% endif %}

<p>
    <b>Region</b>: {{ region }} | <b>Constellation</b>: {{ constellation }} | <b>Faction</b>: {{ faction }}<br>
    <b>Pirates</b>: {{ pirates }} | <b>Jumps</b>: {{ jumps1 }} / {{ jumps24 }}
</p>

<div class="row">
    <div class="span6">
        <p id="kills"><span style="color: gray; text-align: left;">Loading recent kills in this system ...</span></p>
    </div>
    <div class="span6">
        {% if kspace %}
        <div style="width: 100%; margin-bottom: 20px;" id="jumps"><span style="color: gray; text-align: left;">Loading jumps to major tradehubs ...</span></div>
        {% else %}
        <p>Statics: <span style="color: red;">UNKNOWN</span></p>
        {% endif %}
    </div>
</div>

<hr>

<h3><a href="" onclick="$('#notesform').toggle(200);">Alliance Notes</a></h3>
<form action="" method="POST" id="notesform">
    <textarea name="systemnote" id="systemnote" style="width: 45%;" rows="10">{{ systemObject.note }}</textarea><br>
    <input type="submit" value="Save">
</form>

<hr>

<h3>Currently open Wormholes</h3>
{% if openwormholes %}
    <table>
        <tr>
            <th>Scan id</th>
            <th>Date entered</th>
            <th>Last updated</th>
            <th>From</th>
            <th>Leads to</th>
        </tr>
        {% for w in openwormholes %}
            {% if w.opened %}
            <tr class="open">
            {% else %}
            <tr class="closed">
            {% endif %}
                <td><a href="{% url 'view_wormhole' w.id %}">{{ w.scanid }}</a></td>
                <td>{{ w.date|date:'H:i, M d, y' }}</td>
                <td>{{ w.time }}</td>
                <td>
                    {% if system == w.start %}
                       <i>{{ w.start }}</i>
                    {% else %}
                        <a href="{% url 'system' w.start %}">{{ w.start }}</a>
                    {% endif %}
                </td>
                <td>
                    {% if system == w.destination %}
                        <i>{{ w.destination }}</i>
                    {% else %}
                        <a href="{% url 'system' w.destination %}">{{ w.destination }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>None</p>
{% endif %}

<br><hr>

<h3>Currently open Sites</h3>
{% if opensites %}
    <table>
        <tr>
            <th>Scan id</th>
            <th>Date entered</th>
            <th>Name</th>
        </tr>
        {% for s in opensites %}
            {% if s.isAnom %}
            <tr class="anom">
            {% elif s.opened %}
            <tr class="open">
            {% else %}
            <tr class="closed">
            {% endif %}
                <td><a href="{% url 'view_site' s.id %}">{{ s.scanid }}</a></td>
                <td>{{ s.date|date:'H:i, M d, y' }}</td>
                <td>{{ s.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>None</p>
{% endif %}

<br><hr>

<h3>Unopened Sites</h3>
{% if unopenedsites %}
    <table>
        <tr>
            <th>Scan id</th>
            <th>Date entered</th>
            <th>Name</th>
        </tr>
        {% for s in unopenedsites %}
            {% if s.isAnom %}
            <tr class="anom">
            {% elif s.opened %}
            <tr class="open">
            {% else %}
            <tr class="closed">
            {% endif %}
                <td><a href="{% url 'view_site' s.id %}">{{ s.scanid }}</a></td>
                <td>{{ s.date|date:'H:i, M d, y' }}</td>
                <td>{{ s.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>None</p>
{% endif %}

<br><hr>

<h3>Closed wormholes in this system</h3>
{% if closedwormholes %}
    <table>
        <tr>
        <th>Scan id</th>
        <th>Date entered</th>
        <th>Last updated</th>
        <th>Leads to</th>
    </tr>
    {% for w in closedwormholes %}
        <tr>
            <td><a href="{% url 'edit_wormhole' w.id %}">{{ w.scanid }}</a></td>
            <td>{{ w.date|date:'H:i, M d, y' }}</td>
            <td>{{ w.time }}</td>
            <td><a href="{% url 'system' w.destination %}">{{ w.destination }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>None</p>
{% endif %}

</center>

{% endblock %}