{% extends 'sitemngr/base.html' %}

{% block subtitle %}
View Site
{% endblock %}

{% block content %}

<center>

<h1><a href="/sitemngr/viewsite/{{ site.pk }}">{{ site.name }}</a></h1>
<h4><a href="/sitemngr/editsite/{{ site.pk }}">Edit</a></h4>

<br>
<form action="" method="POST">
{% csrf_token %}
    {% include 'sitemngr/siteform.html' %}
</form>

<br><hr>

<h3>Snapshots</h3>

{% if snapshots %}
    <table>
        <tr>
            <th>User</th>
            <th>Date</th>
            <th>Scanid</th>
            <th>Name</th>
            <th>Type</th>
            <th>Where</th>
            <th>Opened</th>
            <th>Closed</th>
            <th>Notes</th>
        </tr>
        {% for snap in snapshots %}
            <tr>
                <td>{{ snap.user }}</td>
                <td>{{ snap.date|date:'H:i, M d, y' }}</td>
                <td>{{ snap.scanid }}</td>
                <td>{{ snap.name }}</td>
                <td>{{ snap.type }}</td>
                <td>{{ snap.where }}</td>
                <td>{{ snap.opened }}</td>
                <td>{{ snap.closed }}</td>
                <td>{{ snap.notes }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No snapshots - this model has not been changed</p>
{% endif %}

</center>

{% endblock %}