{% extends 'sitemngr/base.html' %}

{% block subtitle %}
View Site
{% endblock %}

{% block content %}

<center>

<h1><a href="/sitemngr/viewsite/{{ site.pk }}">{{ site.name }}</a></h1>
<h4><a href="/sitemngr/editsite/{{ site.pk }}">Edit</a></h4>

<form action="" method="POST">
{% csrf_token %}
    {% include 'sitemngr/siteform.html' %}
</form>

<br><hr>

<h3>Changes</h3>
<h5>A tick in the box denotes a change in that data</h5>

{% if changes %}
    <table>
        <tr>
            <th>
                Who
            </th>
            <th>
                When
            </th>
            <th>
                Scan ID
            </th>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Where
            </th>
            <th>
                Date
            </th>
            <th>
                Opened
            </th>
            <th>
                Closed
            </th>
            <th>
                Notes
            </th>
        </tr>
    {% for c in changes %}
        <tr>
            <td>
                {{ c.user }}
            </td>
            <td>
                {{ c.date|date:'H:i, M d, y' }}
            </td>
            <td>
                <input type="checkbox" {% if c.changedScanid %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedName %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedType %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedWhere %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedDate %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedOpened %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedClosed %}checked="checked"{% endif %}>
            </td>
            <td>
                <input type="checkbox" {% if c.changedNotes %}checked="checked"{% endif %}>
            </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No changes</p>
{% endif %}

</center>

{% endblock %}