{% extends 'sitemngr/base.html' %}

{% block content %}

<center>

<h1><a href="/sitemngr/viewwormhole/{{ wormhole.pk }}">{{ wormhole.scanid }}</a></h1>
<h4><a href="/sitemngr/editwormhole/{{ wormhole.pk }}">Edit</a></h4>

<br>
<form action="" method="POST">
{% csrf_token %}
    {% include 'sitemngr/wormholeform.html' %}
</form>

<br><hr>

<h3>Changes</h3>
<h5>A tick in the box denotes a change in that data</h5>

{% if changes %}
    <table>
        <tr>
            <th>
                Who
            </th>
            <th>
                When
            </th>
            <th>
                Scanid
            </th>
            <th>
                Start
            </th>
            <th>
                Destination
            </th>
            <th>
                Time
            </th>
            <th>
                Status
            </th>
            <th>
                Opened
            </th>
            <th>
                Closed
            </th>
            <th>
                Notes
            </th>
        </tr>
        {% for c in changes %}
            <tr>
                <td>
                    {{ c.user }}
                </td>
                <td>
                    {{ c.date|date:'H:i, M d, y' }}
                </td>
                <td>
                    <input type="checkbox" {% if c.changedScanid %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedStart %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedDestination %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedTime %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedStatus %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedOpened %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedClosed %}checked="checked"{% endif %}>
                </td>
                <td>
                    <input type="checkbox" {% if c.changedNotes %}checked="checked"{% endif %}>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No changes</p>
{% endif %}

</center>

{% endblock %}