<table class="contenttable">
    <tr>
        <td><label>Creator</label></td>
        <td><input type="text" name="creator" value="{% if wormhole %}{{ wormhole.creator }}{% elif isForm %}{{ displayname }}{% endif %}" readonly></td>
    </tr>
    {% if wormhole %}
    <tr>
        <td><label>Date</label></td>
        <td><input type="text" name="date" value="{% if wormhole %}{{ wormhole.date|date:'H:i, M d, y' }}{% endif %}" {% if isForm %}{% else %}readonly{% endif %}></td>
    </tr>
    {% endif %}
    <tr>
        <td><label id="l_scanid">Scan ID</label></td>
        <td><input type="text" id="t_scanid" onkeyup="validate();" name="scanid" placeholder="AAA, BBB, LOL ..." value="{% if wormhole %}{{ wormhole.scanid }}{% elif g_scanid %}{{ g_scanid }}{% endif %}" {% if isForm %}{% else %}readonly{% endif %}></td>
    </tr>
    <tr>
        <td><label>Started in</label></td>
        <td><input type="text" id="t_start" onkeyup="validate();" name="start" placeholder="Jita, J123456 ..." value="{% if wormhole %}{{ wormhole.start }}{% elif g_start %}{{ g_start }}{% else %}{{ eveigb.solarsystemname }}{% endif %}" {% if isForm %}{% else %}readonly{% endif %}></td>
    </tr>
    <tr>
        <td><label>Leads to</label></td>
        <td><input type="text" id="t_destination" onkeyup="validate();" name="destination" placeholder="Jita, J123456 ..." value="{% if wormhole %}{{ wormhole.destination }}{% elif g_end %}{{ g_end }}{% endif %}" {% if isForm %}{% else %}readonly{% endif %}></td>
    </tr>
    <tr>
        <td>
            <label>Status</label>
        </td>
        <td>
            {% if isForm %}
                <select name="status">
                    {% if wormhole %}
                        <option>{{ wormhole.status }}</option>
                    {% endif %}
                    <option>Undecayed</option>
                    <option>Fresh</option>
                    <option>&#60 50% mass</option>
                    <option>VoC</option>
                    <option>EoL</option>
                    <option>Unknown</option>
                    <option>Closed</option>
                </select>
            {% else %}
                <input type="text" value="{{ wormhole.status }}" readonly>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td><label>Has the wormhole been opened</label></td>
        <td><input type="checkbox" name="opened" {% if wormhole and wormhole.opened %}checked="checked"{% endif %}{% if isForm and not wormhole %}checked="checked"{% endif %}{% if not isForm %} disabled="disabled"{% endif %}{% if not isForm %}{% endif %}></td>
    </tr>
    <tr>
        <td><label>Has the wormhole closed</label></td>
        <td><input type="checkbox" name="closed" {% if wormhole and wormhole.closed %}checked="checked"{% endif %} {% if not isForm %}disabled="disabled"{% endif %}></td>
    </tr>
    <tr>
        <td><label>Notes</label></td>
        <td><textarea name="notes"{% if isForm %}{% else %} readonly{% endif %}>{% if wormhole %}{{ wormhole.notes }}{% endif %}</textarea></td>
    </tr>
    {% if isForm %}
    <tr>
        <td><label>Do not update the graph:</label></td>
        <td><input type="checkbox" name="noupdate"></td>
    </tr>
    <tr>
        <td><label>{% if finish_msg %}{{ finish_msg }}{% endif %}</label></td>
        <td><input type="submit" id="submit_button" value="Store" class="btn btn-primary" data-loading-text="Storing..." onclick="$(this).button('loading');"></td>
    </tr>
    {% endif %}
</table>