body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #E6E6E6;
    background-image: url(http://tracker.talkinlocal.org/static/pictures/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.shadowall {
    background-color: white;
    background-color: rgba(250, 250, 250, 0.8);
    padding: 20px 20px 20px 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
}

tr {
    padding: 5px 0 5px 0;
    text-align: center;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

th {
    font-size: 120%;
    border: 1px solid gray;
    padding-left: 2px;
    padding-right: 2px;
}

.hovertable tr:hover td {
    background-color: #F5F5F5;
}

.addsite {
    font-size: 150%;
    background-color: #EDEDED;
    padding-top: 8px;
    padding-bottom: 8px;
}

input {
    text-align: center;
}

input[type="checkbox"] {
    text-align: left;
    vertical-align: center;
}

input[type="text"] {
    width: 250px;
}

.message {
    padding: 10px;
    color: red;
    background-color: silver;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.g {
    color: green;
}

.r {
    color: red;
}

#ta_pastedata {
    width: 60%;
}

.link_big {
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 200%;
}

.link_big:hover {
    font-size: 300%;
}

.p_link_big {
}

.anom {
	background-color: rgb(51, 204, 255);
	background-color: rgba(51, 204, 255, 0.3);
}

.open {
	background-color: rgb(41, 255, 41);
	background-color: rgba(41, 255, 41, 0.3);
}

.closed {
	# background-color: rgb(255, 41, 41);
	# background-color: rgba(255, 41, 41, 0.3);
}

.directions {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border: 1px solid silver;
	padding-right: 5px;
	display: none;
}